#banner_products {
  width: 100rem;
  height: calc(39.625rem + 6.12rem);
  position: relative;
  margin: 0 auto;
}
#banner_products > img {
  object-fit: cover;
}
#banner_products .decoration_bottom {
  height: calc(39.625rem + 6.12rem);
  width: 100%;
}
#banner_products > .banner_content {
  position: absolute;
  width: 44.375rem;
  top: 9.88rem;
  left: 12.5rem;
  z-index: 1;
  transition: transform 1.5s;
  transform: translateY(-50%);
}
