#filtermap {
  position: relative;
  background-color: #f9f5ea;
  overflow: hidden;
}
#filtermap > .innerFilterMap {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 5.56rem;
}
.innerFilterMap > .innerFilterMap-left {
  display: flex;
  flex-direction: column;
  width: 34.8125rem;
  margin-left: 11.56rem;
}
.innerFilterMap > .innerFilterMap-left .titleFilterMap {
  /* WEB/Title/H2-64 */
  font-family: Philosopher;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 4.8rem */
  letter-spacing: -0.08rem;
  background: var(
    --Text-Title-text-2,
    linear-gradient(91deg, #515954 -6.81%, #2a603e 56.73%, #9db6a6 121.41%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.innerFilterMap > .innerFilterMap-left .optionsMap {
  position: relative;
  padding-top: 1.5rem;
  margin-top: 2.5rem;
  height: 3.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--16, 1rem);
  /* background: #000; */
}
.innerFilterMap > .innerFilterMap-left .inforMap {
  margin-top: 5.12rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4.06rem;
}
.innerFilterMap > .innerFilterMap-left .quantity-agent {
  display: flex;
  flex-direction: column;
}
.innerFilterMap > .innerFilterMap-left .quantilyName {
  color: var(--Foundation-Grey-grey-300, #929292);

  /* WEB/Body/16/16 - R */
  font-family: "SVN-Helvetica Now";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.6rem */
  letter-spacing: -0.03125rem;
}
.innerFilterMap > .innerFilterMap-left .titleQuanlity {
  margin-top: 0.38rem;
  color: var(--Foundation-Grey-grey-500, #5c5c5c);

  /* WEB/Title/H5-24 */
  font-family: "SVN-Helvetica Now";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 2.4rem */
}
.innerFilterMap > .innerFilterMap-left .quantity-agent .specialNumber {
  display: flex;
  align-items: flex-start;
  transform: translateY(-10%);
}
.innerFilterMap > .innerFilterMap-left .number {
  font-family: Philosopher;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 9.375rem */
  text-transform: uppercase;
  background: var(
    --Background-Green-Yellow,
    linear-gradient(90deg, #32890e -6.93%, #c39b0d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.innerFilterMap > .innerFilterMap-left .specialNumber span:last-child {
  font-family: Philosopher;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 5.625rem */
  text-transform: uppercase;
  background: var(
    --Background-Green-Yellow,
    linear-gradient(90deg, #32890e -6.93%, #c39b0d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resultFilter {
  position: absolute;
  top: 5.5rem;
  max-height: 36.875rem;
  overflow: hidden;
  overflow-y: scroll;
  padding: var(--24, 1.5rem);
  display: none;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  background: #f9f5ea;
  z-index: 50;
}
.resultFilter::-webkit-scrollbar {
  width: 0.5rem;
}

.resultFilter::-webkit-scrollbar-track {
  background-color: transparent;
}

.resultFilter::-webkit-scrollbar-thumb {
  background-color: #32890e;
  border-radius: 0.5rem;
}
.resultFilter .resultItem {
  padding: var(--24, 1.5rem);
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  border-radius: 1rem;
  background: var(--text-text-body-0, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.titleResult {
  /* WEB/Body/16/16 - bold */
  font-family: "SVN-Helvetica Now";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 1.4rem */
  background: var(
    --Text-Title-Title-1,
    linear-gradient(90deg, #515954 -7.47%, #2a603e 45.79%, #9db6a6 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resultInfor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: var(--12, 0.75rem);
}
.resultInfor > li {
  display: flex;
}
.resultInfor > li p {
  margin-left: var(--12, 0.75rem);
}
.resultLink {
  display: flex;
  align-items: center;
  font-family: "SVN-Helvetica Now";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.3125rem */
  background: var(
    --Background-Green-Yellow,
    linear-gradient(90deg, #32890e -6.93%, #c39b0d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resultLink span {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.25rem; */
  border-radius: 1.25rem;
  background: var(
    --Background-Green-Yellow,
    linear-gradient(90deg, #32890e -6.93%, #c39b0d 100%)
  );
  margin-left: 0.5rem;
}
.innerFilterMap-right {
  position: relative;
  padding-top: 4.87rem;
}
.dropdown {
  width: 100%;
}
.dropdown__switch:checked + .dropdown__options-filter .dropdown__select {
  transform: scaleY(1);
  opacity: 1;
}
.dropdown__switch:checked + .dropdown__options-filter .dropdown__filter:after {
  transform: rotate(-135deg);
}
.dropdown__options-filter {
  width: 100%;
  cursor: pointer;
  position: relative;
}
.dropdown__filter {
  position: relative;
  display: flex;
  padding: var(--12, 0.75rem) var(--Spacing-4, 1rem);
  color: #595959;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 2rem;
}
.dropdown__filter li {
  color: var(--Foundation-Grey-grey-700, #414141);

  /* WEB/Body/16/16 - M */
  font-family: "SVN-Helvetica Now";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 1.6rem */
  text-align: center;
}
.dropdown__filter:focus {
  outline: none;
}
.dropdown__filter::after {
  position: absolute;
  top: 45%;
  right: 1rem;
  content: "";
  width: 0.525rem;
  height: 0.525rem;
  border-right: 1px solid rgba(22, 94, 76, 1);
  border-bottom: 1px solid rgba(22, 94, 76, 1);
  transform: rotate(45deg) translateX(-45%);
  transition: 0.3s ease-in-out;
}
.dropdown__select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0.65rem;
  overflow: hidden;
  overflow-y: auto;
  transform: scaleY(0);
  transform-origin: top;
  border-radius: 1rem;
  opacity: 0;
  transition: 0.2s ease-in-out;
  z-index: 100;
  max-height: 16rem;
  background-color: #fff;
}
.dropdown__select-option {
  padding: var(--12, 0.75rem) var(--Spacing-4, 1rem);
  background-color: #fff;
  /* border-bottom: 1px solid #e9ecef; */
  transition: 0.3s;
}
.dropdown__select-option:last-of-type {
  border-bottom: 0;
}
.dropdown__select-option:hover {
  background: rgba(200, 194, 190, 0.38);
}
.dropdown__select::-webkit-scrollbar {
  width: 0.5rem;
}

.dropdown__select::-webkit-scrollbar-track {
  background-color: transparent;
}

.dropdown__select::-webkit-scrollbar-thumb {
  background-color: #32890e;
  border-radius: 0.5rem;
}
.dropdown.dropdown_district {
  display: none;
}
#filtermap > .innerFilterMap .mapVn {
  height: 48.75rem;
  user-select: none;
}
.bg-border {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  inset: 0;
}
.roundAnimation::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  border: 2px #32890e solid;
  background-color: transparent;
  animation: scaleAndFade 2s ease-out infinite;
}
.roundAnimation::before {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  border: 2px #32890e solid;
  background-color: transparent;
  animation: scaleAndFade 2s ease-out infinite;
}
h4.noResult {
  width: 100%;
  color: #d33;
  font-family: "SVN-Helvetica Now";
  font-size: 1.175rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 1.3125rem */
}
.loading {
  position: fixed;
  inset: 0;
  z-index: 99999999;
  display: none;
}
.loader {
  display: block;
  --height-of-loader: 0.5rem;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::before {
  content: "";
  position: absolute;
  background: var(
    --Background-Green-Yellow,
    linear-gradient(90deg, #32890e -6.93%, #c39b0d 100%)
  );
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: #4141415e;
  z-index: 99999999;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
@keyframes scaleAndFade {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
